@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 3.5vh;
    padding: 0;
}
body{
    width: 100%;
}

/* Caracteres */
h1, h2, h3{
    font-family: 'Agdasima';
    font-weight: 700;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.2em;
}
p{
    font-family: 'Poppins';
    font-weight: 400;
    text-align: justify;
}
a{
    text-decoration: none;
}

/* Cores */
:root{
    --vermelho: #ed1c24;
    --branco: #fff;
    --cinzaClaro: #d2d3d5;
    --preto: #000;
}

/* ------- Classes ------- */

/* Alinhamento */
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.block_centralizado{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.padding-sessoes{
    padding: 2em 4em;
}
.alinhamento-linha{
    flex-direction: row;
}
.alinhamento-coluna{
    flex-direction: column;
}
.metade{
    width: 50%; 
}

/* Cores */
.background-branco{
    background-color: var(--branco);
}
.background-cinzaClaro{
    background-color: var(--cinzaClaro);
}
.background-preto{
    background-color: var(--preto);
}
.color-preto{
    color: var(--preto);
}
.color-vermelho{
    color: var(--vermelho);
}
.color-branco{
    color: var(--branco);
}

/* Botões */
a.btn{
    font-family: 'Agdasima';
    font-weight: 700;
    color: var(--vermelho);
    padding: .6em;
    border: 4px solid var(--vermelho);
    transition: .5s;
}

a.btn:hover{
    color: var(--preto);
    background-color: var(--vermelho);
}

/* ---------------------------------------------------- Menu --------------------------------------------- */
main header{
    position: sticky;
    top: 0;
    z-index: 1;
}
main header nav#lista__links_principais{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em .5em;
}
main header img{
    width: 12em;
}
ul{
    list-style: none;
    display: flex;
}
header nav#lista__links_principais li{
    margin-right: 1em;
}
header li p{
    cursor: pointer;
}
li#click__links_secundarios:hover nav#lista__links_secundarios{
    display: block;
}
nav#lista__links_secundarios{
    width: 21%;
    position: absolute;
    right: 3.2%;
    display: none;
    background-color: var(--vermelho);
}
nav#lista__links_secundarios:before{
    content: "";
    position: absolute;
    top: -3vh;
    left: 46%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent var(--branco) transparent;
}
nav#lista__links_secundarios > ul{
    position: absolute;
    display: block;
    background-color: var(--branco);
    padding: .5em;
    width: 100%;
}
nav#lista__links_secundarios ul li:hover{
    background-color: var(--cinzaClaro);
}

/* ---------------------------------------------------- Roda pé --------------------------------------------- */
footer{
    flex-direction: row;
    justify-content: space-between;
}
footer div#links__footer table{
    width: 100%;
}
footer div#links__footer td{
    text-align: left;
}
footer a{
    color: var(--branco);
}
footer a:hover{
    text-decoration: underline;
}
footer div:nth-child(2){
    margin-top: 2em;
    flex-direction: row;
    justify-content: space-between;
}
footer div:nth-child(2) table td{
    width: 3em;
    height: 3em;
    text-align: center;
}

/* ---------------------------------------------------- Home --------------------------------------------- */

/* ---------------------- Above The Fold ------------------------- */
div#container__above_the_fold{
    height: 76vh;
}

div#container__above_the_fold_contato li p a{
    text-decoration: underline;
}

/* ---------------------- Sessões ------------------------- */
div[id^="container__"]:not(div#container__cases), div.container__pedir_analise, footer > div{
    flex-direction: row;
}

/* ---------------------- Container Sobre nós ------------------------- */
div#container__sobre_nos > div{
    flex-direction: column;
}

/* ---------------------- Container Serviços ------------------------- */
div#container__servicos > div{
    flex-direction: column;
}
div#container__servicos nav{
    width: 100%;
    margin-top: 1em;
}
a.hover_link{
    font-family: 'Agdasima';
    font-size: 1.2em;
    text-decoration: underline;
    color: var(--branco);
}
a.hover_link:hover{
    color: var(--vermelho);
}

/* ---------------------- Container Cases ------------------------- */
div#container__cases a{
    margin-top: 1em;
}
div#container__cases > h1{
    margin-bottom: .5em;
}

/* ---------------------- Container Pedir Análise ------------------------- */
div.container__pedir_analise{
    justify-content: space-around;
    padding: 3em;
}

div.container__pedir_analise a.btn:hover{
    color: var(--branco);
}

/* ---------------------- Container Pedir Análise ------------------------- */
div#container__metodologia h3{
    margin: 1em 0 .5em 0;
}
div#container__cadastro h3{
    margin: 1em 0 .5em 0;
}
div#container__presenca h3{
    margin: 1em 0 .5em 0;
}
div#container__importancia h3{
    margin: 1em 0 .5em 0;
}
div#container__atrair h3{
    margin: 1em 0 .5em 0;
}

/* ------------------------- Imagens ------------------------- */

/* ---------------------- Imagens index ------------------------- */
img#imagem__above_the_fold, img#imagem__titulo_above_the_fold{
    width: 88vh;
}
img#imagem__container_metodologia{
    width: 65vh;
}
img#imagem__container_objetivo{
    width: 78vh;
}

/* ---------------------- Imagens google meu negócio ------------------------- */
img#imagem__above_the_fold_meu_negocio{
    width: 98vh;
    margin-left: 4em;
}
img#imagem__container_cadastro{
    width: 65vh;
}
img#imagem__container_estrategia{
    width: 78vh;
}

/* ---------------------- Imagens case omega ------------------------- */
img#imagem__logo-omegaAdm{
    margin-top: 1em;
    width: 35vh;
}
img#imagem__ranqueamento_omega{
    margin-top: .5em;
    width: 79vh;
}
img#imagem__ficha_omega{
    margin-top: 1em;
    width: 35vh;
}
img#imagem__funcionarios_omega{
    width: 80vh;
}

/* ---------------------- Imagens presença digital ------------------------- */
img#imagem__above_the_fold_presenca_digital{
    width: 88vh;
    margin-left: 5em;
}
img#imagem__container_presenca{
    width: 65vh;
}
img#imagem__container_administracao{
    width: 78vh;
}

/* ---------------------- Imagens seo ------------------------- */
img#imagem__above_the_fold_seo{
    width: 88vh;
    margin-left: 4em;
}
img#imagem__container_importancia{
    width: 65vh;
}
img#imagem__container_melhorar{
    width: 78vh;
}

/* ---------------------- Imagens tráfego pago ------------------------- */
img#imagem__above_the_fold_trafego_pago{
    width: 88vh;
    margin-left: 5em;
}
img#imagem__container_atrair{
    width: 65vh;
}
img#imagem__container_campanhas{
    width: 78vh;
}

img#imagem__sobre_nos{
    width: 75vh;
}
img#imagem__servicos{
    width: 65vh;
}
img#imagem__container_cases{
    width: 70vh;
}

footer div:nth-child(1) img{
    width: 12em;
}

/* ----------------------------------------------- Responsividade ------------------------------------------- */

@media only screen and (orientation: portrait) {
    header {
        display: none;
    }
    /* ------- Classes ------- */
    .metade{
        width: 100%;
    }
    .padding-sessoes{
        padding: 1em 1.5em;
    }

    /* Caracteres */
    h1 {
        font-size: 2em;
    }
    h2{
        font-size: 1.3em;
    }
    h3{
        font-size: .9em;
    }
    p{
        font-size: .8em;
    }
    
    /* ---------------------- Sessões ------------------------- */
    div[id^="container__"]:not(div#container__cases), div.container__pedir_analise, footer > div{
        flex-direction: column-reverse;
    }

    /* Above the fold */
    main #imagem__titulo_above_the_fold {
        width: 90vw;
    }
    img#imagem__above_the_fold_meu_negocio{
        width: 50vh;
        margin: 0;
    }
    img#imagem__above_the_fold_presenca_digital{
        width: 88vh;
    }
    img#imagem__above_the_fold_seo{
        width: 88vh;
    }
    img#imagem__above_the_fold_trafego_pago{
        width: 88vh;
    }

    /* Containers index */
    div#container__above_the_fold{
        height: 97vh;   
    }
    div#container__sobre_nos {
        justify-content: center;
    }
    div#container__cases .alinhamento-linha {
        flex-direction: column-reverse;
    }
    div#container__cases h1 {
        margin-bottom: 0.3em;
    }

    /* Containers google meu negócio */
    div#container__estrategia {
        flex-direction: column-reverse;
    }

    /* ---------------------- Container Pedir Análise ------------------------- */
    div.container__pedir_analise{
        text-align: center;
        flex-direction: column;
    }
    div.container__pedir_analise a {
        margin-top: 20px;
    }

    /* --------------- Imagens --------------- */
    img#imagem__sobre_nos {
        width: 50vh;
    }
    img#imagem__servicos {
        display: none;
    }
    main #imagem__titulo_above_the_fold {
        width: 90vw;
    }
    img#imagem__above_the_fold {
        width: 50vh;
    }
    img#imagem__container_cases {
        width: 50vh;
        padding-bottom: 1em;
    }
    img.imagens-rodape {
        width: 8vh;
    }
    img#imagem__logo_rodape {
        margin-top: 1.5em;
    }
    
    footer div:nth-child(2) {
        margin-top: 1.5em;
    }
}